// global
$primary_bg_color: #d43b33;
$light_ft_color: #999;
$dark_ft_color: #333;
$body_bg_color: #eeeff1;
$dark_border_color: #545454;
$light_border_color: #ccc;
$primary_border_color: #d43b33;

// btn
$btn_default_bg: #d43b33;
$btn_default_color: #fff;

// tabbar
$tabbar_bg_color: #252525;
$tabbar_ft_color: #a8a8a8;
$tabbar_active_color: #f0f0f0;

// font
$body_ft-size: 28px;